/*导航条*/
#header_wrapper{
    background:#fff;
    padding: 20px 0px;
   /* opacity: 0.5;*/
}
.header_box {
    position: relative;
}
.logo {
    float: left;
    margin-top: 8px;
	position: relative;
	z-index: 2;
}
.logo>a>img{
	width: 120px;
    height: 40px;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;/*transparent透明*/
}
#nav-toggle{
	background-color:#ddd;
	border:none;
}
.navbar {
    border: 0px solid #fff;
    min-height: 60px;
    margin-bottom: 0px;
}
.navStyle {
    float: right;
}
.navStyle .ul {
    list-style: none;
    padding: 0px;
}
.navStyle .ul .li {
    /*display: inline-block;*/
    margin: 0 5px;
}
.navStyle .ul .li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #222222;
    font-weight:bold;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #df0031;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #df0031;
    background-color: transparent;
}
/*  <!--================================== 轮播图开始================================== -->*/
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container1 {
      width: 100%;
      height: 100%;
    }
    /*当轮播图页面执行到最大页面时执行以下内容*/
    @media(max-width: 768px){
        .swiper-container1{
            width: 100%;
            height: 50%;
            position: relative;
        }
    }
        @media(max-width: 1200px){
      .swiper-container1{
        width: 100%;
        height: 50%;
        position: relative;
      }
    }
    .swiper-slide {
      text-align: center;
      color: #f00;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .bg-image1{
    background-image: url(../images/index/bg-image/bj1.jpg) ;
    background-size: 100% 100%;
    }
    .bg-image2{
        background-image: url(../images/index/bg-image/bj2.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image3{
        background-image: url(../images/index/bg-image/bj3.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image4{
        background-image: url(../images/index/bg-image/bj4.jpg) ;
        background-size: 100% 100%;
    }
    .bg-image5{
        background-image: url(../images/index/bg-image/bj3.jpg) ;
        background-size: 100% 100%;
    }
    /*小吃快*/
    #section1_1{
      background-color: #f5f5f5;
      font-size:18px;
      height: 58px;
    }
    #section1_1 .main-title h2{
      float:left;
      line-height: 58px;
      font-size:28px;
      font-weight: bold;
      padding-left: 12px;
    }
    @media(max-width: 1100px){
        #section1_1 .main-title h2{
          float:left;
          line-height: 18px;
          font-size:18px;
          padding-left: 14px;
        }
    }


/*<!-- ==================================section1 ==================================-->*/
    #section1>.container-fuild{
      background-color: #f5f5f5;
      padding-bottom: 3%;
    }
    .headline-icon{
      text-align: center;
      padding-top:3%;
    }
    .section1-icon{
      width: 24%;
      height:260px;
      background: #F9F9F9;
      margin: 0 5px;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
    }
    .section1-icon:hover{
      box-shadow: 0 15px 30px rgba(0,0,0,.1);
      transform: translate3d(0,-2px,0);
      transition: all 0.2s linear;
    }
    .section1-icon>span>img{
        padding-top:10px;
        width: 170px;
        height: 170px;
     }
    .section1-icon>h1{
        font-size: 16px;
        text-align: center;
        color:red;
    }
   .section1-icon>h2{
        font-size: 14px;
        line-height: 25px;
        color: #777;
        text-align: center;
    }
         /*固定*/
       @media(max-width: 1100px){
        .section1-icon{
            width: 48%;
          height:260px;
          background: #F9F9F9;
          margin: 5px 3px;
          border: 1px solid #f2f2f2;
          border-radius: 5px;
        }
        .section1-icon>span>img{
            width: 130px;
            height: 130px;
     }
    }
/*<!-- ======================== 第二块 ========================-->*/
.section2_img>img{
    width:100%;
    height:auto;
}
/*？*/
    /*小吃快*/
    #section1_3{
      font-size:18px;
      height: 58px;
    }
    #section1_3 .main-title h2{
      float:left;
      line-height: 58px;
      font-size:28px;
      font-weight: bold;
      padding-left: 18px;
    }
    @media(max-width: 1100px){
        #section1_3 .main-title h2{
          float:left;
          line-height: 18px;
          font-size:18px;
          padding-left: 22px;
        }
    }
/*第三块*/
    .section-icon{
        height: 460px;
    }
    .section-icon img{
        height: 470px;
        padding-top: 5px;
    }
    .section3-icon{
      background: #F9F9F9;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
      margin: 5px 5px;
      width: 24%;
    }
    .section3-icon>span>img{
        padding-top:10px;
        width: 160px;
        height: 160px;
     }
    .section3-icon>h1{
        font-size: 16px;
        color:red;
    }
   .section3-icon>h2{
        font-size: 14px;
        line-height: 1px;
        color: #777;
        text-align: center;
    }
    .section3-icon:hover{
      box-shadow: 0 15px 30px rgba(0,0,0,.1);
      transform: translate3d(0,-2px,0);
      transition: all 0.2s linear;
    }
       @media(max-width: 1100px){
        .section-icon>span>img{
            padding-top:10px;
            width: 150px;
            height: 460px;
         }
         .section3-icon>span>img{
            width: 130px;
            height: 130px;
         }
        .section3-icon{
          width: 48%;
          height:224px;
          background: #F9F9F9;
          margin: 5px 3px;
          border: 1px solid #f2f2f2;
          border-radius: 5px;
        }
        .section3-icon>span>img{
            width: 130px;
            height: 130px;
        }
         .section3-icon>h1{
        font-size: 14px;
        color:red;
        }
       .section3-icon>h2{
            font-size: 12px;
            line-height: 1px;
            color: #777;
            text-align: center;
        }
  }
/*========================sidebar侧边栏========================*/
.top{
  color: #fff;
  position: fixed;
  display:block;
  background-color:#000;
  right: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  top: 600px;
  z-index: 999;
  opacity: 0.4;
  transition-duration: 0.5s;
  -moz-transition-property: width; 
  -moz-transition-duration: 0.5s; 
  -webkit-transition-property: width; 
  -webkit-transition-duration: 0.5s; 
  -o-transition-property: width; 
  -o-transition-duration: 0.5s; 
}
.top>a{
    text-decoration: none;
}
/*=================================================footer=================================================*/
#footer{
    margin-top: 6%;
  text-align: center;
  background: #fff;
  height: 50px;
}
#footer-nav>a{
  text-decoration: none;
}
#footer-nav>a,#footer-bottom>h5{
  font-size: 12px;
  color: #000;
  line-height: 50px;
}